/* Little Robot Icon */
.bot-icon-container {
    position: absolute;
    bottom: 53px; /* Positioned just above the input field */
    left: 20px; /* Adjust as needed to align horizontally */
    z-index: 1001; /* Ensure it stays above the chat interface */
  }
  
  .bot-icon {
    width: 55px; /* Set the size of the robot icon */
    height: auto; /* Maintain aspect ratio */
  }
  
  /* ChatBot Container */
  .chatbot {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    z-index: 1000;
  }
  
  /* Chat Header */
  .chat-header {
    background-color: #201c51;
    color: white;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .chat-header-close {
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .chat-messages {
    flex: 1;
    padding: 15px;
    overflow-y: auto;
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  .chat-messages::-webkit-scrollbar {
    width: 5px;
  }
  
  .chat-messages::-webkit-scrollbar-thumb {
    background: #ddd;
    border-radius: 10px;
  }
  
  /* Chat Input */
  .chat-input {
    display: flex;
    padding: 10px 15px;
    border-top: 1px solid #ddd;
    background-color: white;
    position: relative;
  }
  
  .chat-input input {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border-radius: 25px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .chat-input button {
    background-color: #201c51;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .chat-input button:hover {
    background-color: #282364;
  }
  
  /* Chat Message Styles */
  .chat-message {
    max-width: 70%;
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    font-size: 14px;
    font-family: "Poppins", sans-serif;
    word-wrap: break-word;
    color: white;
  }
  
  .user-message {
    background-color: #ff7eb9; /* Pink for user */
    align-self: flex-end; /* Right-align */
    text-align: right;
  }
  
  .bot-message {
    background-color: #007bff; /* Blue for bot */
    align-self: flex-start; /* Left-align */
    text-align: left;
  }