
/* src/App.css */

/* General App Styles */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

/* Content Styling - Ensure the content is spaced below the header */
.exhibit {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 1200px;  /* Limit the width of the content on larger screens */
  margin-top: 20px;  /* Ensure there’s space below the header */
}

/* Section Styling */
.section {
  margin-bottom: 20px;
}

/* Heading Styling */
h2 {
  font-size: 1.5rem;
  color: #ef558b;  /* Adjust color to match the header */
}

/* Paragraph Styling */
p {
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

/* Add a bit of responsiveness */
@media (max-width: 768px) {
  .App {
    padding: 10px;
  }

  .header {
    font-size: 1.5rem;
    padding: 15px;
  }

  .exhibit {
    width: 100%;
    padding: 15px;
  }

  h2 {
    font-size: 1.2rem;
  }
}
